<div class="row">
    <div class="col-sm-6">

        <nav id="navbar" class="navbar navbar-light bg-light border-dark">

            <a href="/"><i class="em em-rooster"></i></a>


            <% if (username) { %>
            <%= `   ${username}     ` %>
            <form class="form">
                <a class="btn btn-secondary" href="createCluck" role="button">Cluck!</a>
            </form>
            <form action="sign_out" method="POST">
                <input type="submit" value="Sign Out" class="btn btn-secondary">
            </form>
            <% } else { %>
            <form class="form">
                <a class="btn btn-secondary" href="sign_in" role="button">Cluck!</a>
            </form>
            <form>
                <a class="btn btn-secondary" href="sign_in" role="button">Sign In</a>
                <% } %>
            </form>
        </nav>

    </div>
</div>