<%- include("./partials/header") %>
<h1>I hope this works!!!</h1>


<form>
    <div class="form-group">
        <label for="usernameInput">Username</label>
        <input type="username" class="form-control" id="inputUsername" aria-describedby="usernameHelp"
            placeholder="e.g. Madam Welminster">
    </div>
    <button type="submit" class="btn btn-outline-secondary">Submit</button>
</form>


<%- include("./partials/footer") %>